# Exercise 01 : Basic operations

In [1]:
import pandas as pd

## create a dataframe views with two columns: datetime and user by reading feed-views.log

In [2]:
df = pd.read_csv("../data/feed-views.log",
                 names=("datetime", "user"),
                 sep="\t",
                 engine="python")
df.head()

                     datetime   user
0  2020-04-17 12:01:08.463179  artem
1  2020-04-17 12:01:23.743946  artem
2  2020-04-17 12:27:30.646665  artem
3  2020-04-17 12:35:44.884757  artem
4  2020-04-17 12:35:52.735016  artem

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  1076 non-null   object
 1   user      1076 non-null   object
dtypes: object(2)
memory usage: 16.9+ KB

In [4]:
df["datetime"] = pd.to_datetime(df["datetime"])
df["year"] = df["datetime"].dt.year
df["month"] = df["datetime"].dt.month
df["day"] = df["datetime"].dt.day
df["hour"] = df["datetime"].dt.hour
df["minute"] = df["datetime"].dt.minute
df["second"] = df["datetime"].dt.second
df.head()

                    datetime   user  year  month  day  hour  minute  second
0 2020-04-17 12:01:08.463179  artem  2020      4   17    12       1       8
1 2020-04-17 12:01:23.743946  artem  2020      4   17    12       1      23
2 2020-04-17 12:27:30.646665  artem  2020      4   17    12      27      30
3 2020-04-17 12:35:44.884757  artem  2020      4   17    12      35      44
4 2020-04-17 12:35:52.735016  artem  2020      4   17    12      35      52

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  1076 non-null   datetime64[ns]
 1   user      1076 non-null   object
 2   year      1076 non-null   int64
 3   month     1076 non-null   int64
 4   day       1076 non-null   int64
 5   hour      1076 non-null   int64
 6   minute    1076 non-null   int64
 7   second    1076 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(1)
memory usage: 67.4+ KB

## create the new column daytime

In [6]:
labels = ['night', 'early morning', 'morning', 'afternoon', 'early evening', 'evening']
bins = [0, 4, 7, 11, 17, 20, 24]
df["daytime"] = pd.cut(df["hour"], labels=labels, bins=bins, include_lowest=True, right=False)
df.set_index("user", inplace=True)
df.head(50)

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon
oksana,2020-04-17 12:36:21.401412,2020,4,17,12,36,21,afternoon
oksana,2020-04-17 12:36:22.023355,2020,4,17,12,36,22,afternoon
artem,2020-04-17 13:55:19.129243,2020,4,17,13,55,19,afternoon
artem,2020-04-17 15:00:33.138530,2020,4,17,15,0,33,afternoon
artem,2020-04-17 15:14:09.581054,2020,4,17,15,14,9,afternoon
vladislav,2020-04-17 22:46:26.785035,2020,4,17,22,46,26,evening
artem,2020-04-18 00:30:45.051569,2020,4,18,0,30,45,night
konstantin,2020-04-18 10:53:52.623447,2020,4,18,10,53,52,morning
maxim,2020-04-18 10:56:55.833899,2020,4,18,10,56,55,morning
konstantin,2020-04-18 10:57:37.331258,2020,4,18,10,57,37,morning
artem,2020-04-18 11:02:42.796521,2020,4,18,11,2,42,afternoon
maxim,2020-04-18 12:05:48.200144,2020,4,18,12,5,48,afternoon
maxim,2020-04-18 12:06:13.237290,2020,4,18,12,6,13,afternoon
maxim,2020-04-18 12:06:35.574114,2020,4,18,12,6,35,afternoon
ekaterina,2020-04-18 12:19:50.182714,2020,4,18,12,19,50,afternoon
artem,2020-04-18 12:49:16.684426,2020,4,18,12,49,16,afternoon
artem,2020-04-18 17:45:27.234821,2020,4,18,17,45,27,early evening
konstantin,2020-04-18 18:14:53.813657,2020,4,18,18,14,53,early evening
konstantin,2020-04-18 18:20:05.419381,2020,4,18,18,20,5,early evening
konstantin,2020-04-18 18:20:32.196892,2020,4,18,18,20,32,early evening
konstantin,2020-04-18 18:20:37.860671,2020,4,18,18,20,37,early evening
konstantin,2020-04-18 18:24:59.632526,2020,4,18,18,24,59,early evening
konstantin,2020-04-18 18:50:15.409435,2020,4,18,18,50,15,early evening
artem,2020-04-18 19:20:27.487265,2020,4,18,19,20,27,early evening
konstantin,2020-04-18 21:01:33.970629,2020,4,18,21,1,33,evening
konstantin,2020-04-18 21:06:16.842414,2020,4,18,21,6,16,evening
konstantin,2020-04-18 21:14:43.989325,2020,4,18,21,14,43,evening
konstantin,2020-04-18 21:33:35.285278,2020,4,18,21,33,35,evening
konstantin,2020-04-18 21:36:38.965506,2020,4,18,21,36,38,evening
konstantin,2020-04-18 21:46:57.879404,2020,4,18,21,46,57,evening
konstantin,2020-04-18 21:47:27.939041,2020,4,18,21,47,27,evening
konstantin,2020-04-18 21:58:49.438700,2020,4,18,21,58,49,evening
konstantin,2020-04-18 22:38:29.435265,2020,4,18,22,38,29,evening
konstantin,2020-04-18 23:06:34.198911,2020,4,18,23,6,34,evening
artem,2020-04-18 23:40:32.666884,2020,4,18,23,40,32,evening
konstantin,2020-04-19 00:17:22.720860,2020,4,19,0,17,22,night
konstantin,2020-04-19 00:17:28.624573,2020,4,19,0,17,28,night
konstantin,2020-04-19 00:43:03.766276,2020,4,19,0,43,3,night
konstantin,2020-04-19 00:44:18.631684,2020,4,19,0,44,18,night
konstantin,2020-04-19 01:30:14.261893,2020,4,19,1,30,14,night
konstantin,2020-04-19 01:32:00.584633,2020,4,19,1,32,0,night
konstantin,2020-04-19 03:23:35.471598,2020,4,19,3,23,35,night
konstantin,2020-04-19 03:23:55.473926,2020,4,19,3,23,55,night
konstantin,2020-04-19 03:33:07.757714,2020,4,19,3,33,7,night
konstantin,2020-04-19 10:48:18.715956,2020,4,19,10,48,18,morning

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1076 entries, artem to artem
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  1076 non-null   datetime64[ns]
 1   year      1076 non-null   int64
 2   month     1076 non-null   int64
 3   day       1076 non-null   int64
 4   hour      1076 non-null   int64
 5   minute    1076 non-null   int64
 6   second    1076 non-null   int64
 7   daytime   1076 non-null   category
dtypes: category(1), datetime64[ns](1), int64(6)
memory usage: 68.5+ KB

## calculate the number of elements in your dataframe

In [8]:
df.count()

datetime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

In [9]:
df.value_counts("daytime")

daytime
evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
dtype: int64

## sort values in your dataframe by hour, minute, and second in ascending order

In [10]:
df.sort_values(by=["hour", "minute", "second"])

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,night
pavel,2020-05-12 00:01:38.444917,2020,5,12,0,1,38,night
pavel,2020-05-12 00:01:55.395042,2020,5,12,0,1,55,night
...,...,...,...,...,...,...,...,...
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
anatoliy,2020-05-09 23:53:55.599821,2020,5,9,23,53,55,evening
pavel,2020-05-09 23:54:54.260791,2020,5,9,23,54,54,evening
valentina,2020-05-14 23:58:56.754866,2020,5,14,23,58,56,evening
alexander,2020-05-14 23:59:38.758438,2020,5,14,23,59,38,evening

## calculate the minimum and maximum for the hours and the mode for the daytime categories

In [11]:
max_night = df[df["daytime"] == "night"]["hour"].max()
min_morning = df[df["daytime"] == "morning"]["hour"].min()
max_night, min_morning

(3, 8)

In [12]:
df[(df["daytime"] == "night") & (df["hour"] == 1)][:1]

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
konstantin,2020-04-19 01:30:14.261893,2020,4,19,1,30,14,night

In [13]:
df.loc[df.daytime == 'night'].hour.idxmax()

'konstantin'

In [14]:
df[(df["daytime"] == "morning") & (df["hour"] == 8)][:1]

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,morning

In [15]:
df.loc[df.daytime == 'morning'].hour.idxmin()

'alexander'

In [16]:
mode_hour = df.hour.mode()
mode_hour

0    22
dtype: int64

In [17]:
mode_daytime = df.daytime.mode()
mode_daytime

0    evening
Name: daytime, dtype: category
Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' < 'evening']

## show the 3 earliest hours in the morning and the corresponding usernames and the 3 latest hours and the usernames

In [18]:
earliest = df[df["daytime"] == "morning"].nsmallest(3, ["hour", "minute", "second"])
earliest

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,morning
alexander,2020-05-15 08:35:01.471463,2020,5,15,8,35,1,morning
alexander,2020-05-15 09:02:24.999438,2020,5,15,9,2,24,morning

In [19]:
latest = df.nlargest(3, ["hour", "minute", "second"])
latest

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
alexander,2020-05-14 23:59:38.758438,2020,5,14,23,59,38,evening
valentina,2020-05-14 23:58:56.754866,2020,5,14,23,58,56,evening
pavel,2020-05-09 23:54:54.260791,2020,5,9,23,54,54,evening

## use the method describe() to get the basic statistics for the columns

In [20]:
df.describe()

         year        month          day         hour       minute       second
count  1076.0  1076.000000  1076.000000  1076.000000  1076.000000  1076.000000
mean   2020.0     4.870818    13.552974    16.249071    29.629182    29.500929
std       0.0     0.335557     4.906567     6.955490    17.689388    17.405506
min    2020.0     4.000000     1.000000     0.000000     0.000000     0.000000
25%    2020.0     5.000000    11.000000    13.000000    14.000000    14.000000
50%    2020.0     5.000000    13.000000    19.000000    29.000000    30.000000
75%    2020.0     5.000000    15.000000    22.000000    46.000000    45.000000
max    2020.0     5.000000    30.000000    23.000000    59.000000    59.000000

In [21]:
iqr = df.describe()["hour"]["75%"] - df.describe()['hour']['25%']
iqr

9.0

In [22]:
iqr = df['hour'].quantile(0.75) - df['hour'].quantile(0.25)
iqr

9.0